<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script defer src="/javascripts/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <div class="main w-full min-h-screen bg-zinc-900">
      <div class="form p-10 text-white">
        <form action="/create" method="post">
          <input
            class="block w-full rounded-md outline-none px-5 py-2 bg-zinc-800"
            type="text"
            placeholder="Title goes here."
            name="title"
          />
          <textarea
            class="block w-full rounded-md outline-none mt-2 px-5 py-2 bg-zinc-800 resize-none"
            placeholder="Enter your task details here."
            name="description"
          ></textarea>
          <button
            class="mt-4 bg-blue-600 px-5 py-2 rounded-md hover:bg-blue-700 cursor-pointer transition delay-100 duration-200 ease-in hover:-translate-y-1 active:translate-y-1"
          >
            Create task
          </button>
        </form>
      </div>
      <div class="tasks w-full flex gap-3 flex-wrap p-10">
        <% if(files.length>0){%> <% files.forEach((file)=>{%>
        <div class="task min-w-fit px-3 py-4 rounded-md bg-zinc-800">
          <h1 class="text-white text-3xl tracking-tighter">
            <%= file%>
          </h1>
          <div class="flex w-full justify-between items-center mt-2">
            <a href="/tasks/<%=file.split('.')[0]%>" class="text-blue-500 inline-block ">Read more.</a>
            <a href="/edit/<%=file.split('.')[0]%>" class="text-zinc-500 inline-block ">Edit.</a>
          </div>
        </div>
        <% }) %> <% }else{%>
        <h3 class="w-full text-zinc-600 text-[20px] text-center">
          No tasks yet.
        </h3>
        <%} %>
      </div>
    </div>
  </body>
</html>
